.input {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    background-color: $grey-light;

    font-size: 1.125rem;
    font-family: 'Inter';
    font-weight: 400;

    border: 1px solid transparent;

    &::placeholder {
        color: $grey;
    }

    &:active, &:focus {
        border: 1px solid $accent;
    }

    &:invalid {
        border: 1px solid $orange-dark;
    }
}