/* СТАТЬЯ */
.article {
    color: $black;

    // текст
    p {
        @include text;
    }

    // подпись к картинке
    span {
        margin-top: 1rem;
        display: block;
        color: $grey;
        @include text-small;
    }

    // картинка
    img {
        width: 100%;
    }
}

/* заголовок */
.article-title {
    color: $black;
    @include header-2;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up($md) {
        margin-top: 2.2rem;
        margin-bottom: 2rem;
    }

    @include media-breakpoint-up($lg) {
        margin-top: 3.75rem;
        margin-bottom: 2.2rem;
    }

    /* подзаголовок */
    &-sub {
        @include header-3;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* grid разметка*/
.article-row {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    margin: 1rem 0;

    img {
        grid-area: img;
        align-self: start;
    }

    span {
        margin-top: 0;
        grid-area: span;
        align-self: start;
    }

    p {
        grid-area: text;
        align-self: start;
    }

    h3 {
        grid-area: title;
        align-self: start;

        @include media-breakpoint-up($lg) {
            align-self: start;
        }
    }
}

// картинка слева
.article-row--left {
    grid-template-areas:
        "img"
        "span"
        "text";

    @include media-breakpoint-up($md) {
        grid-template-areas:
        "img  text text"
        "span text text";
    }
}

// картинка справа
.article-row--right {
    grid-template-areas:
        "img"
        "span"
        "text";

    @include media-breakpoint-up($md) {
        grid-template-areas:
        "text text  img"
        "text text span";
    }
}

// картинка слева, заголовок справа
.article-row--left--with-title {
    grid-template-rows: auto auto 3.25rem auto;
    grid-template-areas:
        "img"
        "span"
        "title"
        "text";

    @include media-breakpoint-up($md) {
        grid-template-rows: 3.25rem;
        grid-template-areas:
        "img  title title"
        "img  text  text"
        "span text  text";
    }
}