/* СОЖЕРЖАНИЕ + общие стили */
.contents {
    margin-top: 3rem;

    @include media-breakpoint-up($lg) {
        margin-top: 0;
    }

    .contents__item {
        display: block;
        @include text;
    }

    // номера
    .contents__item:before {
        //margin-right: 0.8rem;
        padding: 0.3rem 0.8rem;
        color: $accent;
        text-decoration: underline;
    }
    li[data-type="active"] {
        @include header-4;

        &:before {
            color: $white;
            background-color: $accent;
        }
    }
    .contents__item:hover {
        cursor: pointer;

        &:before {
            color: $black;
        }
    }
}

/* заголовок содержания */
.contents__title {
    margin-bottom: 2rem;
    text-align: left;
}


/* отступы */
.contents__list {
    /* общий отступ списка */
    padding-left: 0;
    margin-top: 0;

    /* отступ текста от края списка */
    .contents__item {
        position: relative;
        padding-left: 2.8rem;
    }
    .contents__item--sub {
        padding-left: 3.5rem;
    }

    /* положение маркеров */
    li:before {
        position: absolute;
        left: 0;
        top: -0.35rem;
    }

    /* взаимное расположение элементов списка по вертикали */
    .contents__item + .contents__item, .contents__item--sub:first-child {
        margin-top: 0.6rem;
    }

    /* отступы подсписков */
    .contents__list--sub {
        padding-left: 0;
        margin-left: 0;
    }
}

/* нумерация */
.contents {
    ul {
        counter-reset: item;
    }
    ul>li:before {
        content: counters(item, ".");
        counter-increment: item
    }
    ul>li ul li:before {
        content: counters(item, ".");
        counter-increment: item
    }
}

/* фиксированное содержание при прокручивании */
.contents[data-scroll="1"] {
    @include media-breakpoint-up($lg) {
        margin-top: 0;
        z-index: 99;
        padding: 1.2rem;
        position: sticky!important;

        background-color: $white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        top: 10vh;
    }
}
