/* ------ панелька "Возможно вас заинтересует" ------ */
.interest {
    background-color: $white;
    padding: 2rem;
    width: 100%;

    box-shadow: 0 0 50px rgba(139, 139, 139, 0.25);
}

/* кнопка показать все + обертка */
.interest__all {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

/* теги + обертка */
.interest__tags {
    margin-top: 1.5rem;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.interest__tag {
    display: flex;
    flex-direction: column;

    padding: 1px;
    background-color: $accent;

    @include text-articles;
    color: $white;

    &:hover {
        color: $white;
        cursor: pointer;

        .interest__tag-link {
            color: $orange-dark;
        }
    }
}

.interest__tag-text {
    padding: 0.5rem;
}
.interest__tag-link {
    color: $black;
    padding: 0.5rem;
    text-transform: none;
    @include text-small;
    background-color: $white;

    i {
        color: $orange-dark;
    }
}