.popular {
    position: relative;
    padding: 2rem 0 2.9rem 0;

    @include media-breakpoint-up($lg) {
        padding: 2rem 1.56rem 2.9rem 1.56rem;
        background-color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

// заголовок
.popular__title {
    text-align: left;

    @include media-breakpoint-up($lg) {
        text-align: center;
    }
}

/* GRID */
.popular__item {
    margin-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $accent;

    display: grid;
    column-gap: 1rem;
    row-gap: 0.5rem;

    // mobile
    grid-template-columns: 4.75rem;
    grid-template-areas:
        "img title"
        "img time"
        "img link";

    .popular__item-link {
        justify-content: start;
    }
    .popular__item-text {
        display: none;
    }

    // tablet
    @include media-breakpoint-up($md) {
        grid-template-columns: 11.8rem;
        grid-template-areas:
            "img title"
            "img time"
            "img text"
            "img link";

        .popular__item-text {
            display: inherit;
        }
    }

    // desktop
    @include media-breakpoint-up($lg) {
        grid-template-columns: 4.75rem;
        grid-template-areas:
            "img title title"
            "img time  link";

        .popular__item-text {
            display: none;
        }
        .popular__item-link {
            justify-content: end;
        }
    }
}

.popular__item-img  {
    grid-area: img;
    align-self: start;
    width: 100%;
}
.popular__item-label {
    grid-area: title;
    align-self: start;
    @include header-4;
    font-family: 'Inter';
    line-height: 1.4rem!important;
}
.popular__item-text {
    grid-area: text;
    align-self: start;
    @include text-articles;
}
.popular__item-date {
    grid-area: time;
    align-self: start;

    @include text-small;
    color: $grey;
}
.popular__item-link {
    grid-area: link;
    align-self: start;

    color: $orange;
}

// стили carousel
.popular {
    .carousel {
        padding-top: 1.5rem;
        display: grid;
        //min-width: 100%;
    }

    // static чтобы можно было настроить положение дотсов и кнопок
    .carousel, .carousel__nav {
        position: static;
    }

    // страница
    .carousel__slide {
        padding: 0 0.1rem;

        div {
            max-width: 100%;
        }
    }

    // точки
    .carousel__dots {
        position: absolute;
        right: inherit;
        top: inherit;
        bottom: 1.0rem;

        @include media-breakpoint-up($lg) {
            left: 1.5rem;
        }

        display: flex;
        gap: 0.5rem;
        justify-content: start;

        .is-selected:after {
            background-color: $orange;
            width: 0.625rem;
            height: 0.625rem;
        }
        .carousel__dot {
            max-width: 0.625rem;
        }
        .carousel__dot:after {
            background-color: $orange-light;
            min-width: 0.5rem;
            min-height: 0.5rem;
        }
    }

    // переместить кнопки
    .carousel__nav {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 6.88rem;
        height: 3.44rem;
        margin-right: -1px;
    }

    .carousel__button {
        width: 3.44rem;
        height: 3.44rem;
        border-radius: 0;
    }

    .is-next {
        background-color: $orange;
        right: 0;
    }

    .is-prev {
        background-color: $orange-light;
        left: 0;
    }

    .carousel__track > .carousel__slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}