.similar {
    width: 100%;
}

.similar__title {
    text-align: left;

    @include media-breakpoint-up($lg) {
        text-align: center;
    }
}

// стили carousel
.similar {
    .carousel {
        margin-top: 1.625rem;
        min-width: 100%;
    }

    .carousel__slide {
        max-width: 100%;

        @include media-breakpoint-up($md) {
            max-width: 50%;
        }

        @include media-breakpoint-up($lg) {
            max-width: 33.33%;
        }
    }

    .carousel__dots {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        .is-selected:after {
            background-color: $orange;
            width: 0.625rem;
            height: 0.625rem;
        }
        .carousel__dot {
            max-width: 0.625rem;
        }
        .carousel__dot:after {
            background-color: $orange-light;
            min-width: 0.5rem;
            min-height: 0.5rem;
        }
    }

    .carousel__nav {
        display: none;
    }

    .carousel__track > .carousel__slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}