.subscript {
    background-color: $white;
    border: 1rem solid $accent;
    padding: 2rem 1.5rem;
    width: 100%;

    @include media-breakpoint-between($md, $lg) {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }
}

.subscript__title {
    color: $black;

    em {
        font-style: inherit;
        color: $accent;
    }
}

.subscript form {
    margin-top: 2rem;

    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
            "name"
            "email"
            "submit";

    @include media-breakpoint-up($md) {
        grid-template-areas: "name email submit";
    }

    @include media-breakpoint-up($lg) {
        grid-template-areas:
            "name"
            "email"
            "submit";
    }
}

.subscript .input[name="name"] {
    grid-area: name;
}

.subscript .input[name="email"] {
    grid-area: email;
}

.subscript .input[type="submit"] {
    grid-area: submit;
}