$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin media-breakpoint-down($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin media-breakpoint-between($start, $end) {
    @media (min-width:$start) and (max-width:calc($end - 1px)) {
        @content;
    }
}