$black: #212529;
$white: #FFFFFF;
$background: #F5F5F5;

$accent: #20C997;

$orange-dark: #FD7E14;
$orange: #FFAA3F;
$orange-light: #FFCD8D;

$grey: rgba(39, 39, 39, 0.5);
$grey-light: #F4F2F1;
$border-color: #E2E2E2;

