body {
    background-color: #f5f5f5
}

.title {
    color: #212529;
    margin-top: 50px;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .01em;
    text-transform: uppercase
}

@media (min-width: 576px) {
    .title {
        margin-top: 75px;
        font-family: "Tenor Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: .04em;
        text-transform: uppercase
    }
}

@media (min-width: 768px) {
    .title {
        margin-top: 105px;
        font-family: "Tenor Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: .04em;
        text-transform: uppercase
    }
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20
}

.breadcrumb {
    margin-top: 56px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0
}

@media (min-width: 482px) {
    .breadcrumb {
        margin-top: 170px
    }
}

@media (min-width: 494px) {
    .breadcrumb {
        margin-top: 140px
    }
}

@media (min-width: 768px) {
    .breadcrumb {
        margin-top: 80px
    }
}

@media (min-width: 822px) {
    .breadcrumb {
        margin-top: 150px
    }
}

@media (min-width: 992px) {
    .breadcrumb {
        margin-top: 110px
    }
}

@media (min-width: 992px) {
    .breadcrumb ol {
        box-shadow: 0 0 50px rgba(139, 139, 139, .25)
    }
}

.breadcrumb li {
    margin-top: 15px;
    margin-right: 5px
}

.breadcrumb li a {
    color: rgba(39, 39, 39, .5)
}

@media (min-width: 992px) {
    .breadcrumb li {
        margin-right: 0;
        padding: 15px 24px 15px 24px;
        background-color: #fff
    }

    .breadcrumb li:hover {
        cursor: pointer
    }

    .breadcrumb li:hover a {
        color: #212529
    }
}

.breadcrumb li:last-child {
    background: rgba(0, 0, 0, 0)
}

.breadcrumb li:last-child a {
    color: #20c997
}

@media (min-width: 992px) {
    .breadcrumb li:last-child {
        background-color: #20c997
    }

    .breadcrumb li:last-child a {
        color: #fff
    }
}

.breadcrumb a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px
}

@media (min-width: 992px) {
    .breadcrumb a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px
    }
}

@media (min-width: 992px) {
    .breadcrumb li:not(:last-child):not(:nth-last-child(2)) {
        background: #fff;
        background: linear-gradient(-121deg, #FFFFFF 11px, #E2E2E2 11px, #E2E2E2 12.5px, transparent 13px, #FFFFFF 13px);
        border-right: 2px solid #e2e2e2
    }
}

@media (max-width: 991px) {
    .breadcrumb li:not(:first-child):before {
        margin: 0 8px 1px 0;
        content: "";
        height: 8px;
        width: 8px;
        border: solid rgba(39, 39, 39, .5);
        display: inline-block;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg)
    }
}

@media (min-width: 992px) {
    .breadcrumb li:not(:last-child):not(:first-child) {
        position: relative
    }

    .breadcrumb li:not(:last-child):not(:first-child):before {
        display: inline-block;
        position: absolute;
        left: -14.8px;
        top: 0;
        content: "";
        max-width: 0;
        max-height: 0;
        border-style: solid;
        border-width: 0 15px 25px 0;
        border-color: rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
    }
}

@media (min-width: 992px) {
    .breadcrumb li:last-child {
        position: relative
    }

    .breadcrumb li:last-child:before {
        display: inline-block;
        position: absolute;
        left: -14.8px;
        top: 0;
        content: "";
        max-width: 0;
        max-height: 0;
        border-style: solid;
        border-width: 0 15px 25px 0;
        border-color: rgba(0, 0, 0, 0) #20c997 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
    }
}

.main__card {
    position: relative
}

.main__card img {
    width: 100%
}

.main__card h3 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #20c997;
    padding: 14px 24px;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase
}

@media (min-width: 768px) {
    .main__card h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase
    }
}

.main__card div {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 8px;
    color: #fff;
    width: 100%;
    justify-content: left;
    margin-left: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px
}

@media (min-width: 768px) {
    .main__card div {
        justify-content: right;
        margin-left: -24px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px
    }
}

.main__card div span {
    padding: 8px;
    background-color: #20c997
}

.main__card div a {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}

.main__card div a:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff
}

.main__card div a + .main__card div a {
    margin-left: 8px
}

@media (min-width: 768px) {
    .main__card div a + .main__card div a {
        margin-left: 16px
    }
}

.main__card-note {
    margin-top: 20px;
    color: rgba(39, 39, 39, .5);
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:70px repeat(4, 1fr);
    grid-template-areas:"avatar author author author author" "avatar date   time   time   time";
    align-items: center;
    justify-items: stretch;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px
}

.main__card-note img {
    border-radius: 50px;
    grid-area: avatar
}

.main__card-note p {
    grid-area: author
}

.main__card-note time {
    grid-area: date
}

.main__card-note span {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: time;
    text-align: right;
    width: 100%
}

@media (min-width: 768px) {
    .main__card-note {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        grid-template-areas:"avatar author author time   time" "avatar date   date   date   date"
    }
}

.article {
    color: #212529
}

.article p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px
}

@media (min-width: 768px) {
    .article p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px
    }
}

.article img {
    width: 100%
}

.article-title {
    color: #212529;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 30px
}

@media (min-width: 768px) {
    .article-title {
        font-family: "Tenor Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-transform: uppercase;
        margin-top: 40px
    }
}

@media (min-width: 992px) {
    .article-title {
        font-family: "Tenor Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 36px;
        text-transform: uppercase;
        margin-top: 60px
    }
}

.article__img-row {
    margin-top: 25px;
    display: grid;
    width: 100%;
    grid-gap: 16px
}

.article__img-row div {
    grid-area: img
}

.article__img-row div span {
    display: block;
    margin-top: 10px;
    color: rgba(39, 39, 39, .5);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px
}

@media (min-width: 768px) {
    .article__img-row div span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px
    }
}

.article__img-row p {
    grid-area: text
}

.article__img-row--left {
    grid-template-areas:"img" "text"
}

@media (min-width: 768px) {
    .article__img-row--left {
        grid-template-areas:"img  text text"
    }
}

.article__img-row--right {
    grid-template-areas:"img" "text"
}

@media (min-width: 768px) {
    .article__img-row--right {
        grid-template-areas:"text text img"
    }
}

.article__img-row--simple {
    display: block
}