.grid {
    display: grid;
    align-items: start;
    justify-items: start;
}

// мобилка и планшет
.grid {
    grid-template-rows:
            [nav] auto
            [main-card] auto
            [contents] auto
            [article] auto
            [similar] auto
            [subscript] auto
            [popular] auto
            [interest] auto;
}

.main {
    display: contents;
}
.sidebar {
    display: contents;
}

nav {
    grid-row: nav;
    order: 0;
}
.main__card {
    grid-row: main-card;
    order: 1;
}
.contents {
    grid-row: span contents;
    order: 2;
}
.article {
    grid-row: span article;
    order: 3;
}
.popular {
    grid-row: popular;
    order: 4;
}
.similar {
    grid-row: similar;
}
.subscript {
    grid-row: subscript;
}
.interest {
    grid-row: interest;
}

// декстоп
@include media-breakpoint-up($lg) {
    .grid {
        grid-template-columns:
                [main] 8fr
                1fr
                [sidebar] 4fr;

        grid-template-rows:
                [nav] auto
                [main-sidebar] auto
                [similar] auto;
    }

    nav {
        grid-row: nav;
        grid-column: 1 / -1;
    }

    .main {
        display: grid;
        grid-row: main-sidebar;
        grid-column: main;

        grid-template-areas:
            "mc"
            "at";

        .main__card {
            grid-area: mc;
        }

        .article {
            grid-area: at;
        }

    }
    .sidebar {
        display: grid;
        grid-row: main-sidebar;
        grid-column: sidebar;

        min-height: 100%;
        align-content: start;

        grid-template-areas:
            "ct"
            "pp"
            "it"
            "ss";

        .contents {
            grid-area: ct;
        }
        .popular {
            grid-area: pp;
        }
        .interest {
            grid-area: it;
        }
        .subscript {
            grid-area: ss;
        }
    }

    .similar {
        grid-row: similar;
        grid-column: 1 / -1;
    }






}